.navBarMain {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

body {
	background-color: #F6F6F6;
}

.navItems li{
	float: left;
}

.navItems li a{
	text-decoration: none;
	display: block;
	padding: 8px;
	color: white;
}

.navItems li a:hover{
	background-color: silver;
	color: black;
}

.navHeader {
	float: left;
	background-color: #333;
	display: block;
	padding: 5px;
}

.navHeader a {
	color: white;
	text-decoration: none;
	font-family: 'Fugaz One', cursive;
}

.navbarForm{
	float: right;
	margin-top: 5px;
	margin-right: 30px;
}

/****** Index Styles ******/
.shirtIcon {
	display: inline-block;
	padding: 10px;
	border-style: groove;
	border-width: 5px;
}

.iconImg {
	height: 300px;
	width: auto;
}

.shirtTitle {
	list-style-type: none;
	text-decoration: none;
	font-family: 'Pontano Sans', sans-serif;
}

.shirtPrice{
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

/******Detail Styles *******/

.shirtName{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}

.detailImg{
	width: 500px;
	height: auto;
}

.detailLeft {
	display: inline-block;
	margin-left: 100px;
}

.detailRight{
	float: right;
	padding: 50px;
	width: 500px;
	background-color: #d9d9d9;
	margin-right: 250px;
	margin-top: 150px;
	
}

